li {
    float: left ;
    padding-left: 20px;
}

.rowMargin {
    margin-bottom: 0px !important;
}

.navWrapperHeight{
    height: 50px;
}

.marginLeft{
    margin-left: 20px;
}

.initalMargin{
    margin-top: 80px;
    margin-left: 100px;
}

.inputHeight{
    height: 20px !important;
}

/* .style{
    float: left !important;
    padding-left: 20px !important;
} */

.imgCabania{
    width: 500px;
    height: 300px;
}

.profileOption{
    display: flow-root;
}

.select{
    display: block;
}

#menu > li:last-child
{
    float:right;
}